.item-display{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.scroll-box {
    border: 1px solid #858080; /* Define the border style here */
    max-height: 90vh; /* Adjust the maximum height as needed */
    overflow-y: auto;
    width: 100vh;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 1.24) 0px 3px 8px;
  }
